body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    text-align: center;
    color: #777;
}

header, nav, footer {
    Height: 50px;
    padding: 5px;
}

section, aside {
    height: 350px;
    color: #777;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    padding: 10px;
}

section {
    width: 50%;
    padding: 10px;
    }

article {
    width: auto;
    margin: auto;
}
aside {
    width: 40%;
    padding: 10px;
    float: right;
    }

.inline, p {
    width: auto;
    margin: 10px;
    height: 40px;
}

#allContent {
    width: 80%;
    margin: auto;
}

#mainBox {
    margin: 20px;
}
